.footer {
  padding: 85px 0 85px 0;
  background: url(../img/footer/1.png) right center no-repeat;
}

@media (max-width: 992.98px) {
  .footer {
    padding: 50px 0px 50 10px;
  }
}

.footer .footer__row {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: left;
  align-items: flex-start;
}

@media (max-width: 1152px) {
  .footer .footer__row {
    justify-content: center;
    align-items: center;
  }
}

.footer .footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 65px 0 0;
}

.footer .footer__col:first-child {
  width: 235px;
}

.footer__link {
  display: flex;
  flex-direction: column;
}

.footer__text, .footer__link a {
  display: inline-block;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.56px;
  color: rgba(40, 40, 40, 0.66);
}

.footer__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 2.27;
  letter-spacing: 0.88px;
  color: #282828;
}

.footer__subscribe-btn {
  position: relative;
}

.footer__subscribe-btn input {
  text-transform: uppercase;
  padding: 18px 0 16px 29px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 263px;
  height: 49px;
}

.footer__subscribe-btn a {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #ff6d6d;
  padding: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.footer__social a {
  margin: 0 15px;
}
